@charset "utf-8";

@import url('https://fonts.googleapis.com/css2? family= Work+Sans:wght@100;400;600 & display=swap');

body{
    font-family: 'Work Sans', sem serifa;
    font-size: 1.25em;
    font-weight: 400;
    color: rgb(30, 29, 34);
    background-color:rgb(255, 242, 208);

}

h1 {
    color: rgb(170, 57, 78);
    text-align: center;
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  


img{
    display: block;
    margin-left: 42%;
    margin-right: -50%;
    height: 30%;
    width: 50;

}

.link{
    text-align: center;
    color: brown;
}

.botao-1{
    text-decoration: none;
    background-color: rgb(62, 204, 181);
    padding: 15px;
    border-radius: 5px;
    color:  rgb(170, 57, 78);

}

.botao-1:hover {
    background-color: rgb(62, 204, 181);
    color: rgb(255, 255, 255);
}